:root {
  --main: #fff;
  --grey: #f9f9f9;
  --darkGrey: #ccc;
  --text: #282828;
  --link: #61DAFB;
}

body {
  background: var(--main);
  color: var(--text);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
}

img, svg {
  width: 100%;
}
